@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Roboto&display=swap');

/* font-family: 'Comic Neue', cursive;
font-family: 'Roboto', sans-serif; */
#channel{
  font-family: 'Comic Neue', cursive;
}

#tuneIn{
  font-family: 'Roboto', sans-serif;
  font-style:italic ;
}
.App {
  text-align: center;
}
.container {
  background-color: white;
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap;
}
.image{
  padding:75px;
}
/* #img1{
  height: 50px;
  width: 70px;
  margin:20px;
  /* padding: 10px; */
/* } */

/* .image{
  max-width:70%;
} */
/* #img1, #img2, #img3{
  height:50px;
  width:50px;
} */
/* #img1{
 
    flex: 1 1 auto;
    margin: 5px;
}

/* Reference: https://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
